@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.flex, .content-section .page-content .custom-form .row {
  display: flex;
  display: -webkit-flex; }

.flex, .content-section .page-content .custom-form .row {
  display: flex;
  -webkit-display: flex; }

.sky-blue {
  color: #0099e5; }

a {
  cursor: pointer;
  text-decoration: none; }
.help-block{
    position: relative;
    color: #bd0707;
    text-align: right;
    bottom: 7px;
    right: 10px;
}
.btn-success {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.border {
  border: 1px solid #e1e1e1 !important; }

text {
  font-size: 16px;
  text-transform: uppercase; }

.btn-primary {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px; }

.none {
  border: none;
  background: transparent;
  color: #000;
  outline: none; }

.width {
  padding-left: 15px !important; }

.trash {
  color: #ea0808; }
  .trash:hover {
    color: #ea0808; }

header {
  padding: 0px 15px;
  height: 60px;
  background-color: #ffffff;
  margin-left: 230px;
  -webkit-box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.32);
  -moz-box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.32);
  box-shadow: 0px 0px 3px rgba(128, 128, 128, 0.32);
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0px;
  right: 0px;
  z-index: 4; }

.content-section {
  transition: padding-left 0.4s;
  -webkit-transition: padding-left 0.4s;
  position: relative;
  padding: 15px 15px 15px 245px;
  margin-top: 60px;
  background-color: rgba(255, 245, 245, 0.62);
  float: left;
  width: 100%;
  min-height: 600px; }
  .content-section h1.heading {
    margin: 5px 0px 20px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold; }
  .content-section .page-content {
    background-color: #ffffff;
    /* min-height: 500px; */
    box-shadow: 0px 0px 1px #580000;
    -webkit-box-shadow: 0px 0px 1px #580000;
    border-radius: 1px;
    padding: 15px;
    }
    .content-section .page-content .custom-form .row {
      flex-wrap: wrap;
      margin: 0px;
      margin-bottom: 15px; }
      .content-section .page-content .custom-form .row .col-sm-6 {
        width: 33.3%;
        height: 75px; }
        .content-section .page-content .custom-form .row .col-sm-6 .form-control {
          height: 36px;
          box-shadow: none;
          -webkit-box-shadow: none; }
        .content-section .page-content .custom-form .row .col-sm-6 label {
          font-size: 12px;
          text-transform: capitalize;
          letter-spacing: 0.5px; }
      .content-section .page-content .custom-form .row.section h4 {
        color: #a75552;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 15px;
        margin: 0px 0px 5px;
        border-bottom: 1px solid #f2e1e3;
        padding-bottom: 10px; }
    .content-section .page-content .custom-form .btn {
      border-radius: 4px;
      padding: 8px 15px;
      text-transform: uppercase;
      letter-spacing: 2px;
      background-color: #580000;
      color: #fff;
      font-weight:  bold;
      }

aside {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 5;
  width: 230px;
  height: 100%; }
  aside .heading1 {
    height: 60px;
    background-color: #ffffff;
    text-align: center; }
    aside .heading1 img {
      height: 25px;
      margin-top: 20px;
      vertical-align: middle; }
  aside .nav {
    background-color: #580000;
    height: 100%;
    padding: 40px 0px; }
    aside .nav ul {
      list-style-type: none;
      padding-left: 0px; }
      aside .nav ul li ul li a {
        font-size: 12px;
        padding-left: 30px;
        border: none; }
      aside .nav ul li ul li:first-child a {
        border-top: none; }
      aside .nav ul li ul li:last-child a {
        border-bottom: 1px solid transparent; }
      aside .nav ul li.active {
        background-color: #ffffff; }
        aside .nav ul li.active a {
          color: #570e0b;
          font-weight: bold;
          letter-spacing: 1px; }
      aside .nav ul li a {
        font-size: 12px;
        text-transform: uppercase;
        color: #ffffff;
        text-decoration: none;
        margin: 0px;
        line-height: 42px;
        border-bottom: 1px solid transparent;
        width: 100%;
        position: relative;
        display: block;
        padding: 0px 10px; }
        aside .nav ul li a .fa {
          margin-right: 7px; }
        aside .nav ul li a span.fa {
          position: absolute;
          right: 10px;
          top: 15px; }
      aside .nav ul li:first-child a {
        border-top: 1px solid transparent; }

.top-head, .header h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 28px;
  margin: 0px 15px;
  padding-top: 35px;
  color: #5cb85c; }
  .top-head span, .header h1 span {
    font-size: 25px;
    color: #000000;
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 230px;
    cursor: pointer; }
  .top-head a, .header h1 a {
    color: #000000;
    text-decoration: none !important;
    font-size: 13px;
    position: relative;
    right: -10px;
    line-height: normal;
    text-transform: uppercase;
    top: -14px;
    float: right;
    border: 0px solid #5a5555;
    padding: 6px 14px;
    border-radius: 4px;
    margin-right: 10px; }

font {
  font-family: "Open Sans", sans-serif !important; }

.wrapper {
  background-color: #e8e8e8;
  position: relative;
  width: 100%;
  float: left;
  height: auto; }

.header.dashboard {
  height: 70px; }
.header.dashboard h1 {
  margin-left: 230px; }
  .header.dashboard h1 .fa.fa-bars {
    font-size: 25px;
    position: relative;
    top: -17px;
    color: #2e2f3a;
    cursor: pointer;
    left: 5px; }

@media (min-width: 768px) {
  .modal-dialog {
    width: 550px;
    margin: 30px auto; }

  .login-box {
    width: 400px; }

  .login-box.register {
    width: 550px; }

  .modal-sm {
    width: 380px;
    margin: auto; } }

/*# sourceMappingURL=style.css.map */









/*    Form Css Starts From Here   */
#box{
  min-height: 300px;
  box-shadow: 0 0 200px 0px #00000014;
  margin: 50px auto;
  width:  100%;
  border-radius: 2px;
  background-color: white;
  padding:  30px;
}
#box .logo{
    height: 30px;
    width: 140px;
}
#box h1{
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px auto 0;
    display: block;
    text-align: center;
    font-size: 30px;
}
#box hr{
    border-top: 1px solid #000;
}
#box .heading{
    background-color: #0000006e;
    color:  #fff;
    font-weight:  bold;
    font-size: 19px;
    padding: 5px 20px;
}
#box .input-group{
    margin: 10px 0;
    width: 100%;
}
#box .input-group label{
    background-color: transparent;
    border: none;
    padding: 19px 12px 0px 0px;
    font-weight:  bold;
}
#box .input-group .form-control{
    border:  none;
    border-radius: 0px;
    box-shadow: none;
    border-bottom: 1px dashed #919191;
    /*width:  100%;*/
}
#box .col-xs-12 .input-group{
    margin-top: 0px;
}
#box .col-xs-12 .input-group .radioCon{
    position: relative;
    top: 17px;
}
#box .col-xs-12 .input-group .radioCon input[type=radio]{
    margin: 0px;
}
#box table tr td:nth-child(1){
    width: 130px;
    padding: 10px;
}
#box table tr td{
    padding: 0px;
    width: 100px;
}
#box table tr td input{
    border-radius: 0px;
    border: 0px;
    box-shadow: none;
    height: 40px;
}
#box h3{
    font-weight:  bold;
    font-size:  14px;
}
#box input[type=checkbox]{
    background-color: transparent;
}
#box footer h4{

font-size: 15px;

font-weight:  bold;
}
#box footer .address{



font-size: 11px;

font-weight:  bold;
}
#box .customButton{
    /* position: fixed; */
    /* top: 0px; */
    right:  0px;
    bottom:  0px;
    background-color: #3860b9;
    color:  #fff;
    font-size: 20px;
    width:  100%;
}
.alert{
  position: fixed;
    z-index: 3;
    right: 10px;
    bottom: 10px;
}



/*    Form Css ends Here   */